accelerate==0.33.0
bitsandbytes==0.43.3
datasets==2.21.0
gradio==4.42.0
gradio-client==1.3.0
peft==0.12.0
safetensors==0.4.4
sentencepiece==0.2.0
tokenizers==0.19.1
torch==2.4.0
transformers==4.44.2
trl==0.10.1
unsloth==2024.8
xformers==0.0.27.post2
